configuration 
{
	modes: "window,drun,run";
	display-drun: " >>> ";
	drun-display-format: "{icon} {name}";
	show-icons: true;
	icon-theme: "candy-icons";
	font: "JetBrainsMono Nerd Font Medium 14";
	sort: true;
	sorting-method: "normal";
	/* sorting-method: "normal"; */
  	timeout 
	{
		action: "kb-cancel";
		delay:  0;
	}
	filebrowser 
	{
		directories-first: true;
		sorting-method:    "name";
	}
}

@theme "theme.rasi"
